xdma-xvc-903e/proj*/*
xdma-xvc-903e/.Xil
xdma-xvc-903e/*.jou
xdma-xvc-903e/*.log
xdma-xvc-903e/*.str

xdma-xvc-903f/proj*/*
xdma-xvc-903f/.Xil
xdma-xvc-903f/*.jou
xdma-xvc-903f/*.log
xdma-xvc-903f/*.str

xvc-driver-903e/xvcserver/bin
xvc-driver-903e/xvcserver/obj
xvc-driver-903e/driver_v0.4/.tem_versions
xvc-driver-903e/driver_v0.4/*.cmd
xvc-driver-903e/driver_v0.4/*.o

xvc-driver-903f/xvcserver/bin
xvc-driver-903f/xvcserver/obj
xvc-driver-903f/driver_v0.4/.tem_versions
xvc-driver-903f/driver_v0.4/*.cmd
xvc-driver-903f/driver_v0.4/*.o